.header-nav {
    position: absolute;
    top: 210px;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

body[data-active-section="6"] .header-nav,
body[data-active-section="7"] .header-nav,
body[data-active-section="8"] .header-nav,
body[data-active-section="9"] .header-nav,
body[data-active-section="10"] .header-nav {
    opacity: 1;
}