.header-paging {
    position: relative;
    right: -12px;
    height: 70px;
    font-size: 119px;
    font-family: YesevaOne, "Bookman", Georgia, "Times New Roman", serif;
    font-weight: 400;
    line-height: 95px;
    opacity: 0.3;
    overflow: hidden;
    transition: all 0.26s ease-in-out;
}

.header-paging > span {
    display: block;
    position: relative;
    overflow: hidden;
    animation-duration: 0.26s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transition: all 0.26s ease-in-out;
}

body.transition-in .header-paging > span {
    animation-name: transition-in-paging;
}

body.transition-out .header-paging > span {
    animation-name: transition-out-paging;
}

@keyframes transition-in-paging {
    0% {
        top: 35px;
        height: 0;
        opacity: 0;
    }
    100% {
        top: 0;
        height: 70px;
        opacity: 1;
    }
}

@keyframes transition-out-paging {
    0% {
        top: 0;
        height: 70px;
        opacity: 1;
    }
    100% {
        top: 35px;
        height: 0;
        opacity: 0;
    }
}
