.drag-wrapper {
    position: relative;
    width: calc(100vw - 40px);
    height: 50vh;
}

.draggable {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #f4f3f4;
    border-radius: 50%;
}

.draggable::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    background-color: #f4f3f4;
    border-radius: 50%;
    opacity: 0.5;
    transform: translate3D(-50%, -50%, 0);
}

.knob {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid #606060;
    border-radius: 50%;
}

.knob .draggable {
    position: relative;
    top: 50%;
    left: -21px;
}

.drag-target {
    position: absolute;
    width: 54px;
    height: 54px;
    border: 2px dashed #f4f3f4;
    border-radius: 50%;
    transition: opacity 0.26s ease-in-out;
}

.drag-target.showOver {
    opacity: 0.5;
}

.drag-target-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    font-size: 14px;
    text-transform: uppercase;
}

/*
* Override position by section
*/

/* Section 2 */

#section-2 .drag-target.left {
    left: calc(25% + 20px);
}

#section-2 .drag-target.right {
    right: calc(25% + 20px);;
}

/* Section 4 */

#section-4 .drag-target.top {
    top: calc(15% - 20px);
}

#section-4 .drag-target.left {
    left: calc(30% - 20px);
}

#section-4 .drag-target.right {
    right: calc(30% - 20px);
}

#section-4 .drag-target.bottom {
    bottom: calc(15% - 20px);
}