.drag-wrapper {
    position: relative;
    width: 50vw;
    height: 50vh;
}

.draggable {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #f4f3f4;
    border-radius: 50%;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.draggable::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    background-color: #f4f3f4;
    border-radius: 50%;
    opacity: 0.5;
    transform: translate3D(-50%, -50%, 0);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.draggable.show-over {
    width: 55px;
    height: 55px;
}

.draggable:active::before {
    width: 34px;
    height: 34px;
}

.knob {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 314px;
    height: 314px;
    margin: 0 auto;
    border: 5px solid #606060;
    border-radius: 50%;
}

.knob .draggable {
    position: relative;
    top: 50%;
    left: -21px;
}

.drag-target {
    position: absolute;
    width: 54px;
    height: 54px;
    border: 2px dashed #f4f3f4;
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.drag-target.show-over {
    animation-name: spin;
}

.drag-target-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    font-size: 14px;
    text-transform: uppercase;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}