.center {
    display: block;
    margin: auto;
}

.top {
    position: absolute;
    top: 62px;
}

.left {
    position: absolute;
    left: 62px;
}

.right {
    position: absolute;
    right: 62px;
}

.bottom {
    position: absolute;
    bottom: 62px;
}