.section-title {
    position: relative;
    font-size: 52px;
    font-family: YesevaOne, "Bookman", Georgia, "Times New Roman", serif;
    font-weight: 400;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 60px;
}
