.embark {

}

.embark-title {
    display: block;
    font-family: YesevaOne, "Bookman", Georgia, "Times New Roman", serif;
    font-size: 29px;
    line-height: 39px;
    height: 35px;
}

.embark-text {
    display: block;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    height: 18px;
}

.embark .drag-wrapper {
    position: absolute;
    width: 100%;
    height: calc(100% - 170px);
    left: 0;
    right: 0;
    bottom: 0;
}