[id^="section-"] {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
}

[id^="section-"] > * {
    flex-direction: column;
    transition: opacity 0.26s ease-in-out;
}

[id^="section-"].transition-in  > *:not(.section-header) {
    opacity: 1;
}

[id^="section-"].transition-out  > *:not(.section-header) {
    opacity: 0;
}

.section-content-wrapper {
    position: relative;
    display: flex;
    margin: auto;
}

.text-wrapper {
    text-align: center;
    margin: auto;
}

.morph-shape {
    position: absolute;
    left: -16.666%;
    right: -16.666%;
    width: 133.333%;
    height: 100%;
    z-index: -1;
    opacity: 1!important;
}

/*
* Override position by section
*/

#section-2 .explore {
    top: 0;
    left: 0;
}

#section-2 .create {
    right: 0;
    bottom: 0;
}