[id^="section-"] {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
}

[id^="section-"] > * {
    flex-direction: column;
    transition: opacity 0.9s ease-in-out;
}

[id^="section-"].transition-in  > *:not(.section-header) {
    opacity: 1;
}

[id^="section-"].transition-out  > *:not(.section-header) {
    opacity: 0;
}

.section-content-wrapper {
    position: relative;
    display: flex;
    margin: auto;
}

.text-wrapper {
    text-align: center;
    margin: auto;
}

/*
* Override position by section
*/

#section-4 .explore {
    top: 0;
    left: 0;
}

#section-4 .create {
    right: 0;
    bottom: 0;
}

#section-6 .drag-wrapper, #section-7 .drag-wrapper, #section-8 .drag-wrapper, #section-10 .drag-wrapper {
    position: absolute;
    height: 415px;
    width: 980px;
    right: 0;
    bottom: 120px;
}