.section-paging {
    position: absolute;
    top: 100px;
    right: 50px;
    height: 70px;
    font-size: 119px;
    font-family: YesevaOne, "Bookman", Georgia, "Times New Roman", serif;
    font-weight: 400;
    line-height: 95px;
    opacity: 0.3;
    overflow: hidden;
    transition: top 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.section-paging > span {
    display: block;
    position: relative;
    overflow: hidden;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transition: top 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

body.transition-in .section-paging > span {
    animation-duration: 0.3s;
    animation-name: transition-in-paging;
}

body.transition-out .section-paging > span {
    animation-duration: 0.9s;
    animation-name: transition-out-paging;
}

@keyframes transition-in-paging {
    0% {
        top: 35px;
        height: 0;
        opacity: 0;
    }
    100% {
        top: 0;
        height: 70px;
        opacity: 0.3;
    }
}

@keyframes transition-out-paging {
    0% {
        top: 0;
        height: 70px;
        opacity: 0.3;
    }
    100% {
        top: 35px;
        height: 0;
        opacity: 0;
    }
}
